<div class="row">
    <div class="col-md-12 bg-light">
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Employee Data</h5>
            </div>
            <div class="col-md-4">
                <button pButton type="button" class="p-button-success" label="Add User" (click)="AddUser()"></button>
            </div>
        </div>

    </div>
</div>
<br>
<div class="row" *ngIf="!isCreateMode">

</div>

<div class="row" *ngIf="isCreateMode">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="row" (click)="employeedata($event)">
                    <div class="col-md-5">
                        <input type="text" [(ngModel)]="employee.name" placeholder="Name" formControlName="firstname"
                            pInputText class="inputfield w-full" />
                    </div><br>
                    <div class="col-md-5">

                        <input type="text" [(ngModel)]="employee.username" placeholder="User Name"
                            formControlName="firstname" pInputText class="inputfield w-full" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5">

                        <input type="text" [(ngModel)]="employee.email" placeholder="Email" formControlName="firstname"
                            pInputText class="inputfield w-full" />
                    </div>
                    <br>
                    <div class="col-md-5">

                        <input type="text" [(ngModel)]="employee.phone" placeholder="Phone" formControlName="firstname"
                            pInputText class="inputfield w-full" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">

                        <input type="text" [(ngModel)]="employee.website" placeholder="Website"
                            formControlName="firstname" pInputText class="inputfield w-full" />
                    </div>
                    <br>
                    <div class="col-md-6">
                        <button pButton type="button" class="p-button-warning" (click)="cancel()">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button pButton type="button"  (click)="saveUser()">Save</button>
                    </div>
                    <br>
                    <div class="col-md-6">

                    </div>

                </div>


            </div>

        </div>

    </div>

</div>
<p-table [value]="employeelist" [paginator]="true" [rows]="5" alt="image">
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let item of items">
                <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary" (onChange)="employeedata($event)">
                </p-checkbox>
                {{item}}
                <img src="../../assets/images/Vector.png" alt="image">

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employeelist>
        <tr>
            <td>
                <p-tableCheckbox [value]="employeelist"></p-tableCheckbox>
                {{employeelist.name}}
            </td>
            <td>{{employeelist.username}}</td>
            <td>{{employeelist.email}}</td>
            <td>{{employeelist.phone}}</td>
            <td>{{employeelist.website}}
                <!-- <i class="pi pi-ellipsis-v"></i> -->
            </td>
            <td>
                <button pButton type="button" label="Edit" class="p-button-help" (click)="edit(employee.id)"></button>
                &nbsp;
                <button pButton type="button" class="p-button-danger" label="Delete"
                    (click)="delete(employee.id)"></button>
            </td>

        </tr>
    </ng-template>
</p-table>

<br>
<!-- <p-radioButton name="groupname" *ngFor="let genderid of gender" [value]="genderid" [(ngModel)]="selectedgender">
    {{genderid}}
</p-radioButton>

<div>
    Your gender is: {{selectedgender}}
</div> -->


<div>
    <div class="p-field-radiobutton">
        <p-radioButton name="city" value="male" [(ngModel)]="selectedgender" inputId="city3"></p-radioButton>
        <label for="city3">male</label>
    </div>
    <div class="p-field-radiobutton">
        <p-radioButton name="city" value="female" [(ngModel)]="selectedgender" inputId="city4"></p-radioButton>
        <label for="city4">female</label>
    </div>
    your gender is : {{selectedgender}}
</div>

<br>
<div style="text-align: left;">
    <button pButton type="button"  (click)="testObservable()">Observable</button>
</div>
