.classcenter {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat !important;
    overflow: hidden;
    background-attachment: fixed;
    font-family: 'Roboto';
    font-style: normal;
    background-image: url("../../assets/images/background.jpg");
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

.header {
    text-align: center !important;
    justify-content: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;

}

.grid input {
    background-color: transparent;
    color: white;
}

span.error {
    color: red;
}
::placeholder { 
    color: white;
    opacity: 0.9;
}
.radio{
border-radius:0mm;

}
