<div class="grid classcenter">
    <div class="container">
        <form [formGroup]="RegistrationForm">
            <h2 class="header">Imaginnovate</h2>
            <h2 class="header">Register your Account</h2>
            <div class="grid">
                <div class="col-6">
                    <label class="header" for="fname">First Name</label>
                    <input type="text" placeholder="John" formControlName="firstname" pInputText
                        class="inputfield w-full" />

                    <div *ngIf="firstname.invalid && firstname.touched">
                        <span class="error" *ngIf="firstname.errors?.required">
                            *First Name is Required

                        </span>
                        <span class="error" *ngIf="firstname.errors?.pattern">
                            Enter Only Characters.
                        </span>
                    </div>

                </div>
                <div class="col-6">
                    <label class="header" for="lname">Last Name</label>
                    <input type="text" placeholder="marshall" formControlName="lastname" pInputText
                        class="inputfield w-full" />

                    <div *ngIf="lastname.invalid && lastname.touched">
                        <span class="error" *ngIf="lastname.errors?.required">
                            *Last Name is Required

                        </span>
                        <span class="error" *ngIf="lastname.errors?.pattern">
                            Enter Only Characters.
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <label class="header" for="mobile"> Phone Number</label>
                    <input type="text" placeholder="9876543210" formControlName="phonenumber" pInputText
                        class="inputfield w-full">
                    <div *ngIf="phonenumber.invalid && (phonenumber.touched || phonenumber.dirty)">
                        <span class="error" *ngIf="phonenumber.errors?.required">
                            *phonenumber Is Required
                        </span>
                        <span class="error" *ngIf="phonenumber.errors?.pattern">
                            *Enter Only Numbers and minimum 10 digits
                        </span>
                        <span class="error" *ngIf="phonenumber.errors?.maxlength">
                            *Enter Minimum 10 Numbers
                        </span>
                    </div>

                </div>
                <div class="col-6">
                    <label class="header" for="email"> Email</label>
                    <input type="text" placeholder="John.marshall@gmail.com" formControlName="email" pInputText
                        class="inputfield w-full">
                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span class="error" *ngIf="email.errors?.required">
                            *Email Is Required
                        </span>
                        <span class="error" *ngIf="email.errors?.email">
                            *Enter Valid Email Address
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <label class="header" for="password"> Password</label>
                    <input type="password" placeholder="*********" formControlName="password" pPassword
                        class="inputfield w-full">
                    <div *ngIf="password.invalid && (password.touched || password.dirty)">
                        <span class="error" *ngIf="password.errors?.required">
                            *Password Is Required
                        </span>
                        <span class="error" *ngIf="password.errors?.password">
                            *Enter Valid Password
                        </span>
                        <span class="error" *ngIf="password.errors?.['maxlength'] 
                        || password.errors?.['minlegth'] && (password.dirty||password.touched)">
                            *password should be at least 6 and at the max 15 characters long.
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <label class="header" for="confirmpassword"> Confirm Password</label>
                    <input type="confirmpassword" placeholder="*********" formControlName="confirmpassword" pPassword
                        class="inputfield w-full">
                    <div *ngIf="confirmpassword.invalid && (confirmpassword.touched || confirmpassword.dirty)">
                        <span class="error" *ngIf="confirmpassword.errors?.required">
                            *confirmpassword Is Required
                        </span>
                        <span class="error" *ngIf="confirmpassword.errors && confirmpassword.value !=password.value">
                            *Password and Confirm Password Must Be Match
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-8" class="header">
                <div class="p-field-radiobutton">
                    <p-radioButton class="radio" name="myradio" formControlName="myradio" value="true" label="">
                    </p-radioButton>
                    <a class="header" href="#">I agree to Terms & Privacy policy </a>
                </div>
            </div>
            <br>
            <div class="col-6" class="header">
                <button pButton type="button" (click)="HandleRegister()" pRipple label="Create Account"
                    [style]="{width: '250px'}"></button>
                <p-toast position="top-right"></p-toast>

            </div>
            <br>
            <div class="col-8" class="header">
                <a class="header" href="">Don't have an account?Join free today </a>
            </div>
        </form>
    </div>
</div>