<div class="grid classcenter">
    <div class="container">
        <form [formGroup]="loginForm">
            <h2 class="header">Imaginnovate</h2>
            <h2 class="header">Login to your account</h2>
            <div class="grid">
                <div class="col-12">
                    <label class="header" for="email"> Email Address</label><br><br>
                    <input type="email" placeholder="John.marshall@gmail.com" formControlName="email" pInputText
                        class="inputfield w-full">
                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span class="error" *ngIf="email.errors?.required">
                            *Email Is Required
                        </span>
                        <span class="error" *ngIf="email.errors?.email">
                            *Enter Valid Email Address
                        </span>
                    </div>
                </div>
                <br>
            </div>
            <div class="grid">
                <div class="col-12">
                    <label class="header" for="password"> Password</label><br><br>
                    <input class="header" type="password" placeholder="*********" formControlName="password" pPassword
                        class="inputfield w-full" required="">
                    <div *ngIf="password.invalid && (password.touched || password.dirty)">
                        <span class="error" *ngIf="password.errors?.required">
                            *Password Is Required
                        </span>
                        <span class="error" *ngIf="password.errors?.password">
                            *Enter Valid Password
                        </span>
                        <span class="error" *ngIf="password.errors?.['maxlength'] 
                        || password.errors?.['minlegth'] && (password.dirty||password.touched)">
                            *password should be at least 6 and at the max 15 characters long.
                        </span>
                    </div>
                </div>
            </div>
            <br>

            <div class="grid">
                <div class="col-6">
                    <div class="p-field-radiobutton">
                        <p-radioButton name="myradio" formControlName="myradio" value="true" label=""></p-radioButton>
                        <a class="header" href="#">Remember me</a>
                    </div>
                </div>

                <div class="col-6">
                    <a class="header" href="#">forgot password?</a>
                </div>
            </div>

            <div class="col-6" class="btn">
                <button pButton type="button" label="Login Now" pRipple (click)="onSubmit()" 
                    [style]="{width: '250px'}">
                    
                </button>
                <p-toast position="top-right"></p-toast>
            </div>
            <br>
            <div class="col-6" class="header">
                <a class="header" href="registration">Don't have an account?Join free today </a>
            </div>
        </form>


    </div>

</div>