<div class="container">
    <div class="grid">
        <h1 class="sidehead">Imaginnovate</h1>
        <div class="col-6">
            <div class="sidebar">
                <nav>
                    <ul class="menu">
                        <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-home"></i>&nbsp;
                            Dashboard
                        </a>
                        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"> <i
                                class="pi pi-envelope"></i>&nbsp; Profile
                        </a>
                        <a routerLink="/userslist" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-user "></i> &nbsp; Users
                        </a>

                        <a routerLink="/Settings" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-cog"></i>&nbsp; Settings
                        </a>
                        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-sign-out"></i>&nbsp; logout
                        </a>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="col-6">
            <div class="profile">
                <h1> Users List</h1>
                <div class="search">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search Everything">
                    </span>
                </div>

                <div class="topicon">
                    <!-- <a class="notification"> <i class="pi pi-circle"></i></a> -->
                    <a href="#">
                        <i class="pi pi-bell"></i></a>
                </div>
                <div class="topprofile">

                </div>
            </div>
        </div>

        <div class="table">
            <p-table [value]="users" [paginator]="true" [rows]="5" alt="image">
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let item of items">
                            <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"
                                (onChange)="checktabledata($event)"></p-checkbox>

                            {{item}}
                            <img src="../../assets/images/Vector.png" alt="image">
                            
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                                <!-- <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"
                                    (onChange)="checktabledata($event)">
                                </p-checkbox> -->

                            <p-tableCheckbox [value]="users"></p-tableCheckbox>
                            {{user.name}}
                        </td>
                        <td>{{user.email_address}}</td>
                        <td>{{user.phone_number}}</td>
                        <td>{{user.date_created}}</td>
                        <td>{{user.pincode_address}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="pi pi-ellipsis-v"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>

