.my-background {
    border: 0;
    padding: 0;
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat !important;
    background-color: #000000B2;
    overflow: hidden;
    background-attachment: fixed;
    font-family: 'Roboto';
    font-style: normal;
}

.header {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;

}