.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 180px;
    border-style: solid;
    border-width: 2px 1px;
    color: #000000;
}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    background-color: #1473E6;
    border: 1px solid;
    border-radius: 5px;
}

/* Style the main content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.sidehead {
    color: darkblue;
}

.profile {
    width: 100%;
    padding-top: 12 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 270px;
    display: block;

}

.topprofile {
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    background-image: url('../../assets/images/profilebg.png');
    background-size: 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    margin-left: 80%;


}

.editprofile {
    height: 60%;
    width: 50%;
    border-style: solid;
    border-width: 1px 1px;
    position: fixed;
    z-index: 1;
    left: 450px;
    bottom: 20%;
}

.grid {
    justify-content: center;
    display: flex;
    position: absolute;
    margin: auto;
    box-sizing: border-box;
}

.center {
    margin: auto;
    border: 1px solid;
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url('../../assets/images/profilebg.png');
    background-size: 120px;

}

.topicon {
    padding: 10px;
    position: absolute;
    width: 50px;
    height: 40px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    justify-content: end;
    margin-left: 75%;
}

.editstyle {
    font-family: 'Roboto';
    font-style: normal;

}

.notification {
    font-size: small;
    background: #1473E6;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
}

.pencil {
    background-color: #1473E6;
    border: 1px solid;
    border-radius: 10px;
    
}
.profilename{
    text-align: center;
}
.button{
    text-align: center;
    justify-content: center;
    margin-top: 800px;
}