<div class="container">
    <div class="grid">
        <h1 class="sidehead">Imaginnovate</h1>
        <div class="col-6">
            <div class="sidebar">
                <nav>
                    <ul>
                        <a routerLink="/dashboard" routerLinkActive="" ariaCurrentWhenActive="page">
                            <i class="pi pi-home"></i>&nbsp;
                            Dashboard
                        </a>
                        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"> <i
                                class="pi pi-envelope"></i>&nbsp; Profile
                        </a>
                        <a routerLink="/userslist" routerLinkActive="" ariaCurrentWhenActive="page">
                            <i class="pi pi-user "></i> &nbsp; Users
                        </a>
                        <a routerLink="/Settings" routerLinkActive="" ariaCurrentWhenActive="page">
                            <i class="pi pi-cog"></i>&nbsp; Settings
                        </a>
                        <a routerLink="/" routerLinkActive="" ariaCurrentWhenActive="page">
                            <i class="pi pi-sign-out"></i>&nbsp; logout
                        </a>
                    </ul>
                </nav>

            </div>

        </div>

        <div class="profile">
            <h1> profile</h1>

            <div class="topicon">
                <!-- <a class="notification"> <i class="pi pi-circle"></i></a> -->
                <a href="#">
                    <i class="pi pi-bell"></i></a>
            </div>
            <div class="topprofile">

            </div>
            <br>
            <div class="button">
                <button pButton type="button" [style]="{width: '150px'}" pRipple label=" Save"
                    (click)="ProfileLogin()"></button>
                <p-toast position="top-right"></p-toast>
            </div>
        </div>

        <div [formGroup]="ProfilePage">

            <div class="editprofile">
                <h1 class="editstyle"> Edit profile</h1>
                <div class="center">
                    <a href="#">
                        <i class="pi pi-pencil"></i></a>
                </div>

                <h4 class="profilename">John</h4>
                <div class="grid">
                    <div class="col-4">
                        <label class="header" for="firstname">First Name</label>
                        <input type="text" placeholder="John" formControlName="firstname" pInputText
                            class="inputfield w-full" />
                    </div>
                    <div *ngIf="firstname.invalid && firstname.touched">
                        <span class="error" *ngIf="firstname.errors?.required">
                            *First Name is Required

                        </span>
                        <span class="error" *ngIf="firstname.errors?.pattern">
                            Enter Only Characters.
                        </span>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-4">
                        <label class="header" for="lastname">Last Name</label>
                        <input type="text" placeholder="marshall" formControlName="lastname" pInputText
                            class="inputfield w-full" />
                    </div>
                    <div *ngIf="lastname.invalid && lastname.touched">
                        <span class="error" *ngIf="lastname.errors?.required">
                            *Last Name is Required

                        </span>
                        <span class="error" *ngIf="lastname.errors?.pattern">
                            Enter Only Characters.
                        </span>
                    </div>


                    <div class="col-10">
                        <label class="header" for="email"> Email</label>
                        <input type="text" placeholder="John.marshall@gmail.com" formControlName="email" pInputText
                            class="inputfield w-full">
                    </div>
                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span class="error" *ngIf="email.errors?.required">
                            *Email Is Required
                        </span>
                        <span class="error" *ngIf="email.errors?.email">
                            *Enter Valid Email Address
                        </span>
                    </div>

                    <div class="col-4">
                        <label class="header" for="phonenumber"> Phone Number</label>
                        <input type="text" placeholder="+1(415)4567890" formControlName="phonenumber" pInputText
                            class="inputfield w-full">
                    </div>

                    <div *ngIf="phonenumber.invalid && (phonenumber.touched || phonenumber.dirty)">
                        <span class="error" *ngIf="phonenumber.errors?.required">
                            *phonenumber Is Required
                        </span>
                        <span class="error" *ngIf="phonenumber.errors?.pattern">
                            *Enter Only Numbers and minimum 10 digits
                        </span>
                        <span class="error" *ngIf="phonenumber.errors?.maxlength">
                            *Enter Minimum 10 Numbers
                        </span>
                    </div>
                    <div class="col-2">

                    </div>

                    <div class="col-4">
                        <label class="header" for="pincode"> Pincode Address</label>
                        <input type="text" placeholder="0001895" formControlName="pincode" pInputText
                            class="inputfield w-full">
                    </div>

                </div>

            </div>

        </div>

    </div>


</div>