.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 180px;
    border-style: solid;
    border-width: 2px 1px;
    color: #000000;

}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;


}

/* Style links on mouse-over */
.sidebar a:hover {
    background-color: #1473E6;
    border: 1px solid;
    border-radius: 5px;
}

/* Style the main content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.sidehead {
    color: darkblue;
    position: fixed !important;
}

.profile {
    width: 100%;
    padding-top: 12 0px;
    /* border-style: solid; */
    border-width: 1px 1px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 270px;
    display: flex;

}

.search {
    text-align: center;
    position: absolute;
    margin-left: 60%;
    left: 0px;
    top: 0px;
    color: #8E8E8E;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */



}

.topprofile {
    border: 1px solid;
    /* padding: 10px; */
    border-radius: 50%;
    background-image: url('../../assets/images/profilebg.png');
    background-size: 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    margin-left: 80%;
    font-size: 2em;
    margin-block-start: 0.67em;
}

.topicon {
    padding: 10px;
    position: absolute;
    width: 50px;
    height: 40px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    justify-content: end;
    margin-left: 75%;
    left: 0px;
    top: 0px;
    font-size: 2em;
    margin-block-start: 0.67em;
}

.card {
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin-right: 40.5rem;
    margin-left: 16.5rem;
    margin-top: 4.5rem;




}

.graph {
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
    margin-left: 270px;


}


.statistics {
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 50px;


}



.seemore {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 100px;

}

.cmore {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 24px;
    gap: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.line_graph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.calender {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    color: #1473E6;
    display: flex;
    position: relative;
    width: auto;
    margin-right: 100px;

}



.cicles {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}





.graphcard {
    justify-content: center;
    width: 50%;
}

.containers {
    margin: auto;
    margin-left: 260px;
}

.chatuser {
    justify-content: center;
    text-align: center;
    display: flex;
    position: absolute;
    margin-left: 200px;


}

.textcircle {
    color: #1473E6;
    justify-content: center;
    text-align: center;
    display: flex;
    position:absolute;
    margin-left: 13px;



}
.chatuserdate{
    text-align: center;
    justify-content: center;
    display: flex;
    position:absolute;
    margin-left: 200px;
    margin-top: 50px;

}

