<div class="container">
    <div class="grid">
        <h1 class="sidehead">Imaginnovate</h1>
        <div class="col-6">
            <div class="sidebar">
                <nav class="menu">
                    <ul>
                        <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-home"></i>&nbsp;
                            Dashboard
                        </a>
                        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"> <i
                                class="pi pi-envelope"></i>&nbsp; Profile
                        </a>

                        <a routerLink="/userlist" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-user "></i> &nbsp; Users
                        </a>


                        <a routerLink="/Settings" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-cog"></i>&nbsp; Settings
                        </a>

                        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <i class="pi pi-sign-out"></i>&nbsp; logout
                        </a>

                    </ul>
                </nav>

            </div>
        </div>
    </div>


    <div class="profile">
        <h1 [ngStyle]="{color: '#0A376E'}"> Dashboard</h1>
        <div class="search">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search Everything">
            </span>
        </div>
        <div class="topicon">
            <!-- <a class="notification"> <i class="pi pi-circle"></i></a> -->
            <a href="#">
                <i class="pi pi-bell"></i></a>
        </div>


        <div class="topprofile">

        </div>
        
    </div>


    <div class="card">
        <div class="col">
            <p-card>
                <h2>2,223,214</h2>
                <h5>Total View &nbsp;<img src="../../assets/images/Frame 6.png" alt="image"></h5>

            </p-card>
        </div>
        <p-divider layout="vertical"></p-divider>


        <div class="col">
            <p-card>
                <h2>1,312,022</h2>
                <h5>Total Download &nbsp;<img src="../../assets/images/Frame 6 (1).png" alt="image"></h5>
            </p-card>

        </div>
        <p-divider layout="vertical"></p-divider>



        <div class="col">
            <p-card>
                <h2>1,959,453</h2>
                <h5>Total Read &nbsp;<img src="../../assets/images/Frame 6 (2).png" alt="image"></h5>
            </p-card>
        </div>
        <p-divider layout="vertical"></p-divider>


        <div class="col">
            <p-card>
                <h2>234,032</h2>
                <h5>Total Comments &nbsp;<img src="../../assets/images/Frame 6 (3).png" alt="image"></h5>
            </p-card>
        </div>


    </div>


    <div>


        <div class="graph">
            <h4 class="statistics">View Statistics</h4>
            <!-- <i class="pi pi-calendar-minus"></i> -->
            <p-calendar style="width:60px" [showIcon]="true" inputId="icon"></p-calendar>

            <h4 class="calender">Yesterday</h4>
        </div>

        <div class="line_graph">

            <div class="graphcard">
    
                <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
        </div>
    </div>



    <div class="containers">
        <div class="grid">
            <div class="col-12">
                <div class="seemore">
                    <h3 class="statistics">Users</h3>
                    <div class="seemore" >
                        <span class="cmore" onclick="seemoreclick()">See More</span>

                    </div>
                </div>
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">CP</h5>
                        <h5 class="chatuser">Charles philip</h5>
                        <h5 class="chatuserdate">08 october 2020</h5>
                    </div>
                </p-card>
            </div>

            <div class="col-12">
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">UC</h5>
                        <h5 class="chatuser">U Christian</h5>
                        <h5 class="chatuserdate">11 june 2020</h5>
                    </div>
                </p-card>
            </div>

            <div class="col-12">
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">RH</h5>
                        <h5 class="chatuser">Robert Hillington</h5>
                        <h5 class="chatuserdate">21 september 2020</h5>
                    </div>
                </p-card>

            </div>
            <div class="col-12">
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">RH</h5>
                        <h5 class="chatuser">Robert Hillington</h5>
                        <h5 class="chatuserdate">21 september 2020</h5>
                    </div>
                </p-card>

            </div>
            <div class="col-12">
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">RH</h5>
                        <h5 class="chatuser">Robert Hillington</h5>
                        <h5 class="chatuserdate">21 september 2020</h5>
                    </div>
                </p-card>

            </div>
            <div class="col-12">
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">RH</h5>
                        <h5 class="chatuser">Robert Hillington</h5>
                        <h5 class="chatuserdate">21 september 2020</h5>
                    </div>
                </p-card>

            </div>
            <div class="col-12">
                <p-card>
                    <div class="cicles">
                        <h5 class="textcircle">RH</h5>
                        <h5 class="chatuser">Robert Hillington</h5>
                        <h5 class="chatuserdate">21 september 2020</h5>
                    </div>
                </p-card>

            </div>
        </div>
    </div>




</div>